{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body_class %}page-specific{% endblock %}

{% block content %}
<div class="container-fluid" style="height: 90vh;">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-md-5">
      <div class="card border-0 shadow-lg" style="width: 100%;">
        <div class="card-header" style="background-color: #000000; color: #27b547;">
          <h4 class="text-center" style="color: #0d9c43">S'identifier</h4>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Email</label>
              <input type="text" class="form-control form-control-lg{% if form.username.errors %} is-invalid{% endif %}" id="username" name="username">
              {% if form.username.errors %}
                <div class="invalid-feedback">
                  {% for error in form.username.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="password">Mot de passe</label>
              <input type="password" class="form-control form-control-lg{% if form.password.errors %} is-invalid{% endif %}" id="password" name="password">
              {% if form.password.errors %}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% endif %}
            </div>

            <div class="text-center mt-4">
              <button type="submit" class="btn btn-success group-custom-button">Se connecter</button>
            </div>
            <!-- Password Reset -->
          <div class="row">
            <div class="text-center">
                <a href="#">Mot de passe oublié ?           </a>
                <a href="{% url 'signup'%}">Nouveau client ?</a>
            </div>
          </div>
            {% if form.non_field_errors %}
              <div class="alert alert-danger mt-3" role="alert">
                {% for error in form.non_field_errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}